/* styles.css */
:root {
    --principal: #d4aeaa;
    --branco: #ffffff;
    --preto: #000000;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: var(--principal);
}

section {
    margin: 20px;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1, h2 {
    color: #333;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #45a049;
}

label {
    display: block;
    margin: 10px 0 5px;
}

input, select, textarea {
    width: 80%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 17px;
}

#price {
    font-size: 18px;
    margin: 20px 0;
}

#thank-you p {
    font-size: 18px;
}

option {
    text-align: center;
}

#confirma {
    display: block;
    margin: 10px auto;
}
